USE [IZUMU]
GO
/****** Object:  User [izumu_user]    Script Date: 20/02/2026 2:50:27 ******/
CREATE USER [izumu_user] FOR LOGIN [izumu_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [izumu_user]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_FormatoFecha]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- FORMATO FECHA: función para mostrar dd-MM-yyyy
-- ============================================
CREATE FUNCTION [dbo].[fn_FormatoFecha] (@Fecha DATE)
RETURNS VARCHAR(10)
AS
BEGIN
    RETURN FORMAT(@Fecha, 'dd-MM-yyyy')
END
GO
/****** Object:  Table [dbo].[tbCliente]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCliente](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[TipoIdentificacion] [int] NOT NULL,
	[Identificacion] [varchar](20) NOT NULL,
	[PrimerNombre] [varchar](50) NOT NULL,
	[SegundoNombre] [varchar](50) NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NULL,
	[NombreCliente]  AS (((([PrimerNombre]+isnull(' '+[SegundoNombre],''))+' ')+[PrimerApellido])+isnull(' '+[SegundoApellido],'')) PERSISTED NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[IDPlan] [int] NOT NULL,
	[Eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_tbCliente] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDireccion]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDireccion](
	[IDDireccion] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
	[Eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_tbDireccion] PRIMARY KEY CLUSTERED 
(
	[IDDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbEmail]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbEmail](
	[IDEmail] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_tbEmail] PRIMARY KEY CLUSTERED 
(
	[IDEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPlan]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPlan](
	[IDPlan] [int] IDENTITY(1,1) NOT NULL,
	[Plan] [varchar](100) NOT NULL,
	[Categoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Visible] [bit] NOT NULL,
	[Eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_tbPlan] PRIMARY KEY CLUSTERED 
(
	[IDPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTelefono]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTelefono](
	[IDTelefono] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Movil] [bit] NOT NULL,
	[Eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_tbTelefono] PRIMARY KEY CLUSTERED 
(
	[IDTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTipoDocumento]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipoDocumento](
	[IDTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](50) NOT NULL,
	[Visible] [bit] NOT NULL,
 CONSTRAINT [PK_tbTipoDocumento] PRIMARY KEY CLUSTERED 
(
	[IDTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbCliente] ON 

INSERT [dbo].[tbCliente] ([IDCliente], [TipoIdentificacion], [Identificacion], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [IDPlan], [Eliminado]) VALUES (1, 1, N'1024362232', N'Wilmer', N'Cristian', N'Cristancho', N'Ramirez', CAST(N'2000-07-30' AS Date), 5, 1)
INSERT [dbo].[tbCliente] ([IDCliente], [TipoIdentificacion], [Identificacion], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [IDPlan], [Eliminado]) VALUES (2, 1, N'1024558128', N'Wilmer', N'', N'Salazar', N'Castillo', CAST(N'1984-10-22' AS Date), 5, 1)
INSERT [dbo].[tbCliente] ([IDCliente], [TipoIdentificacion], [Identificacion], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [FechaNacimiento], [IDPlan], [Eliminado]) VALUES (3, 1, N'123456112', N'Luis', N'Angel', N'Rodriguez', N'Cristancho', CAST(N'2003-01-15' AS Date), 1, 0)
SET IDENTITY_INSERT [dbo].[tbCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[tbDireccion] ON 

INSERT [dbo].[tbDireccion] ([IDDireccion], [IDCliente], [Direccion], [Eliminado]) VALUES (1, 6, N'Calle 123', 0)
INSERT [dbo].[tbDireccion] ([IDDireccion], [IDCliente], [Direccion], [Eliminado]) VALUES (2, 8, N'CL 123 # 52 - 03', 0)
INSERT [dbo].[tbDireccion] ([IDDireccion], [IDCliente], [Direccion], [Eliminado]) VALUES (3, 9, N'CRA 55 # 15 - 43 SUR', 0)
SET IDENTITY_INSERT [dbo].[tbDireccion] OFF
GO
SET IDENTITY_INSERT [dbo].[tbEmail] ON 

INSERT [dbo].[tbEmail] ([IDEmail], [IDCliente], [Email], [Eliminado]) VALUES (1, 6, N'test@test.com', 0)
INSERT [dbo].[tbEmail] ([IDEmail], [IDCliente], [Email], [Eliminado]) VALUES (2, 8, N'mariaeugenia@hotmail.com', 0)
INSERT [dbo].[tbEmail] ([IDEmail], [IDCliente], [Email], [Eliminado]) VALUES (3, 9, N'marcopolo@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[tbEmail] OFF
GO
SET IDENTITY_INSERT [dbo].[tbPlan] ON 

INSERT [dbo].[tbPlan] ([IDPlan], [Plan], [Categoria], [Descripcion], [Visible], [Eliminado]) VALUES (1, N'Plan Diamante Élite Superior', N'Planes con cobertura ambulatoria y hospitalaria', N'Gama Diamante – Máxima cobertura disponible. Incluye atención ambulatoria, hospitalaria y acceso a la más alta red de prestadores.', 1, 0)
INSERT [dbo].[tbPlan] ([IDPlan], [Plan], [Categoria], [Descripcion], [Visible], [Eliminado]) VALUES (2, N'Plan Diamante Élite', N'Planes con cobertura ambulatoria y hospitalaria', N'Gama Diamante – Cobertura ambulatoria y hospitalaria de alta gama con amplia red de prestadores.', 1, 0)
INSERT [dbo].[tbPlan] ([IDPlan], [Plan], [Categoria], [Descripcion], [Visible], [Eliminado]) VALUES (3, N'Plan Zafiro Élite Superior', N'Planes con cobertura ambulatoria y hospitalaria', N'Gama Zafiro – Cobertura ambulatoria y hospitalaria superior dentro de la gama Zafiro.', 1, 0)
SET IDENTITY_INSERT [dbo].[tbPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTelefono] ON 

INSERT [dbo].[tbTelefono] ([IDTelefono], [IDCliente], [Telefono], [Movil], [Eliminado]) VALUES (1, 6, N'3001234567', 1, 0)
INSERT [dbo].[tbTelefono] ([IDTelefono], [IDCliente], [Telefono], [Movil], [Eliminado]) VALUES (2, 8, N'3145263265', 1, 0)
INSERT [dbo].[tbTelefono] ([IDTelefono], [IDCliente], [Telefono], [Movil], [Eliminado]) VALUES (3, 9, N'3000214125', 1, 0)
SET IDENTITY_INSERT [dbo].[tbTelefono] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTipoDocumento] ON 

INSERT [dbo].[tbTipoDocumento] ([IDTipoDocumento], [TipoDocumento], [Visible]) VALUES (1, N'Cédula de Ciudadanía', 1)
INSERT [dbo].[tbTipoDocumento] ([IDTipoDocumento], [TipoDocumento], [Visible]) VALUES (2, N'Cédula de Extranjería', 1)
INSERT [dbo].[tbTipoDocumento] ([IDTipoDocumento], [TipoDocumento], [Visible]) VALUES (3, N'Pasaporte', 1)
SET IDENTITY_INSERT [dbo].[tbTipoDocumento] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbCliente_Identificacion]    Script Date: 20/02/2026 2:50:27 ******/
ALTER TABLE [dbo].[tbCliente] ADD  CONSTRAINT [UQ_tbCliente_Identificacion] UNIQUE NONCLUSTERED 
(
	[TipoIdentificacion] ASC,
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbCliente] ADD  DEFAULT ((0)) FOR [Eliminado]
GO
ALTER TABLE [dbo].[tbDireccion] ADD  DEFAULT ((0)) FOR [Eliminado]
GO
ALTER TABLE [dbo].[tbEmail] ADD  DEFAULT ((0)) FOR [Eliminado]
GO
ALTER TABLE [dbo].[tbPlan] ADD  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[tbPlan] ADD  DEFAULT ((0)) FOR [Eliminado]
GO
ALTER TABLE [dbo].[tbTelefono] ADD  DEFAULT ((0)) FOR [Movil]
GO
ALTER TABLE [dbo].[tbTelefono] ADD  DEFAULT ((0)) FOR [Eliminado]
GO
ALTER TABLE [dbo].[tbTipoDocumento] ADD  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[tbCliente]  WITH CHECK ADD  CONSTRAINT [FK_tbCliente_Plan] FOREIGN KEY([IDPlan])
REFERENCES [dbo].[tbPlan] ([IDPlan])
GO
ALTER TABLE [dbo].[tbCliente] CHECK CONSTRAINT [FK_tbCliente_Plan]
GO
ALTER TABLE [dbo].[tbCliente]  WITH CHECK ADD  CONSTRAINT [FK_tbCliente_TipoDoc] FOREIGN KEY([TipoIdentificacion])
REFERENCES [dbo].[tbTipoDocumento] ([IDTipoDocumento])
GO
ALTER TABLE [dbo].[tbCliente] CHECK CONSTRAINT [FK_tbCliente_TipoDoc]
GO
ALTER TABLE [dbo].[tbDireccion]  WITH CHECK ADD  CONSTRAINT [FK_tbDireccion_Cliente] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[tbCliente] ([IDCliente])
GO
ALTER TABLE [dbo].[tbDireccion] CHECK CONSTRAINT [FK_tbDireccion_Cliente]
GO
ALTER TABLE [dbo].[tbEmail]  WITH CHECK ADD  CONSTRAINT [FK_tbEmail_Cliente] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[tbCliente] ([IDCliente])
GO
ALTER TABLE [dbo].[tbEmail] CHECK CONSTRAINT [FK_tbEmail_Cliente]
GO
ALTER TABLE [dbo].[tbTelefono]  WITH CHECK ADD  CONSTRAINT [FK_tbTelefono_Cliente] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[tbCliente] ([IDCliente])
GO
ALTER TABLE [dbo].[tbTelefono] CHECK CONSTRAINT [FK_tbTelefono_Cliente]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCliente]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Actualizar cliente
-- =============================================
CREATE   PROCEDURE [dbo].[sp_ActualizarCliente]
    @IDCliente              INT,
    @TipoIdentificacion     INT,
    @Identificacion         VARCHAR(20),
    @PrimerNombre           VARCHAR(50),
    @SegundoNombre          VARCHAR(50)     = NULL,
    @PrimerApellido         VARCHAR(50),
    @SegundoApellido        VARCHAR(50)     = NULL,
    @FechaNacimiento        DATE,
    @IDPlan                 INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM tbCliente
        WHERE TipoIdentificacion = @TipoIdentificacion
          AND Identificacion = @Identificacion
          AND IDCliente <> @IDCliente
          AND Eliminado = 0
    )
    BEGIN
        RAISERROR('Ya existe otro cliente registrado con ese tipo y número de identificación.', 16, 1);
        RETURN;
    END

    UPDATE tbCliente SET
        TipoIdentificacion  = @TipoIdentificacion,
        Identificacion      = @Identificacion,
        PrimerNombre        = @PrimerNombre,
        SegundoNombre       = @SegundoNombre,
        PrimerApellido      = @PrimerApellido,
        SegundoApellido     = @SegundoApellido,
        FechaNacimiento     = @FechaNacimiento,
        IDPlan              = @IDPlan
    WHERE IDCliente = @IDCliente
      AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarDireccion]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarDireccion]
    @IDDireccion    INT,
    @Direccion      VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE tbDireccion
    SET Direccion = @Direccion
    WHERE IDDireccion = @IDDireccion AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEmail]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarEmail]
    @IDEmail    INT,
    @Email      VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE tbEmail
    SET Email = @Email
    WHERE IDEmail = @IDEmail AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarTelefono]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarTelefono]
    @IDTelefono INT,
    @Telefono   VARCHAR(20),
    @Movil      BIT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE tbTelefono
    SET Telefono = @Telefono, Movil = @Movil
    WHERE IDTelefono = @IDTelefono AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearCliente]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CrearCliente]
    @TipoIdentificacion     INT,
    @Identificacion         VARCHAR(20),
    @PrimerNombre           VARCHAR(50),
    @SegundoNombre          VARCHAR(50)     = NULL,
    @PrimerApellido         VARCHAR(50),
    @SegundoApellido        VARCHAR(50)     = NULL,
    @FechaNacimiento        DATE,
    @IDPlan                 INT,
    @Telefonos              NVARCHAR(MAX)   = NULL, 
    @Emails                 NVARCHAR(MAX)   = NULL, 
    @Direcciones            NVARCHAR(MAX)   = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM tbCliente
        WHERE TipoIdentificacion = @TipoIdentificacion
          AND Identificacion = @Identificacion
          AND Eliminado = 0
    )
    BEGIN
        RAISERROR('El cliente ya se encuentra registrado con ese tipo y número de identificación.', 16, 1);
        RETURN;
    END

    INSERT INTO tbCliente (
        TipoIdentificacion, Identificacion, PrimerNombre, SegundoNombre,
        PrimerApellido, SegundoApellido, FechaNacimiento, IDPlan, Eliminado
    )
    VALUES (
        @TipoIdentificacion, @Identificacion, @PrimerNombre, @SegundoNombre,
        @PrimerApellido, @SegundoApellido, @FechaNacimiento, @IDPlan, 0
    );

    DECLARE @IDCliente INT = SCOPE_IDENTITY();

    IF @Telefonos IS NOT NULL
    BEGIN
        INSERT INTO tbTelefono (IDCliente, Telefono, Movil, Eliminado)
        SELECT @IDCliente, Telefono, Movil, 0
        FROM OPENJSON(@Telefonos)
        WITH (
            Telefono VARCHAR(20) '$.telefono',
            Movil BIT '$.movil'
        )
        WHERE Telefono IS NOT NULL AND Telefono <> '';
    END

    IF @Emails IS NOT NULL
    BEGIN
        INSERT INTO tbEmail (IDCliente, Email, Eliminado)
        SELECT @IDCliente, Email, 0
        FROM OPENJSON(@Emails)
        WITH (Email VARCHAR(100) '$.email')
        WHERE Email IS NOT NULL AND Email <> '';
    END

    IF @Direcciones IS NOT NULL
    BEGIN
        INSERT INTO tbDireccion (IDCliente, Direccion, Eliminado)
        SELECT @IDCliente, Direccion, 0
        FROM OPENJSON(@Direcciones)
        WITH (Direccion VARCHAR(200) '$.direccion')
        WHERE Direccion IS NOT NULL AND Direccion <> '';
    END

    SELECT @IDCliente AS IDCliente;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearDireccion]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CrearDireccion]
    @IDCliente  INT,
    @Direccion  VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO tbDireccion (IDCliente, Direccion, Eliminado)
    VALUES (@IDCliente, @Direccion, 0);
    SELECT SCOPE_IDENTITY() AS IDDireccion;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearEmail]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CrearEmail]
    @IDCliente  INT,
    @Email      VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO tbEmail (IDCliente, Email, Eliminado)
    VALUES (@IDCliente, @Email, 0);
    SELECT SCOPE_IDENTITY() AS IDEmail;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearTelefono]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CrearTelefono]
    @IDCliente  INT,
    @Telefono   VARCHAR(20),
    @Movil      BIT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO tbTelefono (IDCliente, Telefono, Movil, Eliminado)
    VALUES (@IDCliente, @Telefono, @Movil, 0);
    SELECT SCOPE_IDENTITY() AS IDTelefono;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCliente]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Eliminar cliente 
-- =============================================
CREATE   PROCEDURE [dbo].[sp_EliminarCliente]
    @IDCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE tbCliente
    SET Eliminado = 1
    WHERE IDCliente = @IDCliente
      AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarDireccion]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_EliminarDireccion]
    @IDDireccion INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE tbDireccion SET Eliminado = 1
    WHERE IDDireccion = @IDDireccion AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEmail]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_EliminarEmail]
    @IDEmail INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE tbEmail SET Eliminado = 1
    WHERE IDEmail = @IDEmail AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarTelefono]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_EliminarTelefono]
    @IDTelefono INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE tbTelefono SET Eliminado = 1
    WHERE IDTelefono = @IDTelefono AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerClientePorId]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Obtener cliente por ID
-- =============================================
CREATE   PROCEDURE [dbo].[sp_ObtenerClientePorId]
    @IDCliente INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        IDCliente,
        TipoIdentificacion,
        Identificacion,
        PrimerNombre,
        SegundoNombre,
        PrimerApellido,
        SegundoApellido,
        NombreCliente,
        FORMAT(FechaNacimiento, 'dd-MM-yyyy') AS FechaNacimiento,
        IDPlan,
        Eliminado
    FROM tbCliente
    WHERE IDCliente = @IDCliente
      AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerClientes]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerClientes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.IDCliente,
        c.TipoIdentificacion,
        c.Identificacion,
        c.NombreCliente,
        FORMAT(c.FechaNacimiento, 'dd-MM-yyyy') AS FechaNacimiento,
        c.IDPlan,
        STUFF((
            SELECT ', ' + t.Telefono + CASE WHEN t.Movil = 1 THEN ' (M)' ELSE '' END
            FROM tbTelefono t
            WHERE t.IDCliente = c.IDCliente AND t.Eliminado = 0
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, ''
        ) AS Telefonos,
        STUFF((
            SELECT ', ' + e.Email
            FROM tbEmail e
            WHERE e.IDCliente = c.IDCliente AND e.Eliminado = 0
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, ''
        ) AS Emails,
        STUFF((
            SELECT ', ' + d.Direccion
            FROM tbDireccion d
            WHERE d.IDCliente = c.IDCliente AND d.Eliminado = 0
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, ''
        ) AS Direcciones
    FROM tbCliente c
    WHERE c.Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDireccionesPorCliente]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerDireccionesPorCliente]
    @IDCliente INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT IDDireccion, IDCliente, Direccion, Eliminado
    FROM tbDireccion
    WHERE IDCliente = @IDCliente AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerEmailsPorCliente]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerEmailsPorCliente]
    @IDCliente INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT IDEmail, IDCliente, Email, Eliminado
    FROM tbEmail
    WHERE IDCliente = @IDCliente AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPlanes]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerPlanes]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IDPlan,
        [Plan] AS PlanNombre,
        Categoria
    FROM tbPlan
    WHERE Visible = 1 AND Eliminado = 0
    ORDER BY Categoria, [Plan];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTelefonosPorCliente]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerTelefonosPorCliente]
    @IDCliente INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT IDTelefono, IDCliente, Telefono, Movil, Eliminado
    FROM tbTelefono
    WHERE IDCliente = @IDCliente AND Eliminado = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTiposDocumento]    Script Date: 20/02/2026 2:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerTiposDocumento]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IDTipoDocumento,
        TipoDocumento AS TipoDocumentoNombre
    FROM tbTipoDocumento
    WHERE Visible = 1
    ORDER BY TipoDocumento;
END
GO
